
#header #logo {
	margin: 50px 0 5px 10px;
}

#header #status {
	padding-top: 5px;
}

#featured a {
	padding: 152px 0px;
	background: url("images/spacer.gif") no-repeat 0 0;
}

.widget ul, .widget ul li {
	position: relative;
}

#sidebar ul#photos {
	margin-bottom: 55px;
}