body { 
	background: #000000 url(bgr-black.gif) repeat-x top; 
}
#header{
	background: url(header-bgr-black.gif) no-repeat top;
}
#page-bot{
	background: url(page-bot-black.gif) no-repeat top;
}