/* COLOURS

#d67439 - Light
#c14900 - Dark

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* @group nav */

/* NAV
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#header #nav li a:link, #header #nav li a:visited, #header #nav li a:active {
	background: #c14900 url("../../styles/dirty-light/images/orange/nav.gif") repeat 50% 0;
}

#header #nav li a:hover {
	background: #a03c00 url("../../styles/dirty-light/images/orange/nav.gif") repeat 50% 50%;
}

#header-alt #nav li.current_page_item a:link, #header-alt #nav li.current_page_item a:visited, #header-alt #nav li.current_page_item a:active, #header-alt #nav li.current_page_item a:hover {
	background: url("../../styles/dirty-light/images/orange/category-bg.jpg") no-repeat 50% 50%;
}

#header-alt #photos h2 {
	color: #c14900;
}

#header #status strong {
	color: #c14900;
}

/* @end */

/* @group content */

/* CONTENT
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.content h2 {
	color: #c14900;
}

.content h2 a:link, .content h2 a:visited, .content h2 a:active {
	color: #c14900;
}

.content h2 a:hover {
	color: #1b1b19;
}

.content h2.heading {
	background: url("../../styles/dirty-light/images/orange/heading-bg.jpg") no-repeat 0 0;
}

.content h3 a:link, .content h3 a:visited, .content h3 a:active {
	color: #c14900;
}

.content #comments h2.heading, .content #comment-form h2.heading {
	background: url("../../styles/dirty-light/images/orange/heading-comments-bg.jpg") no-repeat 0 0;
}

/* @end */

/* @group sidebars */

/* SIDEBARS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#categories li.current_page_item-cat {
	color: #ffc5ac;
	background: url("../../styles/dirty-light/images/orange/category-bg.jpg") no-repeat 0 0;
}

#leftbar .widget h2 {
	background: url("../../styles/dirty-light/images/orange/heading-leftbar-bg.jpg") no-repeat 0 0;
}

#sidebar .widget h2, #header .widget h2 {
	background: url("../../styles/dirty-light/images/orange/heading-sidebar-bg.jpg") no-repeat 0 0;
}

#media-widget.widget h2 {
	color: #ffc5ac;
}

/* @end */