/* Setup */

body {
	background: #283024;
}

#bg-wrapper {
	background: url(charcoal-yellow/bg_wrapper-trans.png) top center no-repeat;
}

a {
	color: #ffcc00;
}

a:hover {
	text-decoration: none;
}

/* Header */

#slogan {
	background: url(charcoal-yellow/bg_slogan-trans.png) top left repeat-x;
	color: #686E66;
}

#slogan span {
	background: #283024;
}

#header #logo, #header #nav {
	border-bottom: 1px solid #686E66;
}

#header #nav a {
	color: #686E66;
	text-decoration: none;
}

#header #nav a:hover {
	color: #ffcc00;
}

/* Content General */

#content .title {
	background: url(charcoal-yellow/bg_contenth3-trans.png) top left no-repeat;
	color: #fff;
}

#content .alt-title {
	background: url(charcoal-yellow/bg_next-trans.png) top right no-repeat;
	color: #fff;
}

/* Blog */

.post, #blog_small #more {
	border-top: 1px solid #626665;
}

.archives .post, .sitemap .post {
	border: none;
}

#blog_small #more .post {
	border-top: none;
	border-bottom: 1px solid #626665;	
}

.post .category {
	background: url(charcoal-yellow/bg_category-trans.png) top left no-repeat;
}

#blog_small .more {
	background: url(charcoal-yellow/bg_next-trans.png) top right no-repeat;
}

.post .category a {
	color: #fff;
	text-decoration: none;
}

.post .category a:hover {
	color: #ffcc00;
}

.post h2 a {
	color: #fff;
	text-decoration: none;
}

.post h2 a:hover {
	color: #ffcc00;
}

.post .meta, .post .meta a {
	color: #a5a5a5;
	text-decoration: none;
}

.post .meta a:hover {
	color: #fff;
}

.post .meta .comments {
	background: url(charcoal-yellow/ico-comm.gif) center left no-repeat;	
}

#post_navigation {
	border-top: 1px solid #626665;
}

#post_navigation #prev a{
	background: url(charcoal-yellow/bg_prev-trans.png) top left no-repeat;
}

#post_navigation #next a {
	background: url(charcoal-yellow/bg_next-trans.png) top right no-repeat;
}

#post_navigation a {
	color: #fff;
	text-decoration: none;
}

#post_navigation a:hover {
	color: #ffcc00;
}

/* Blog Entry Styles */

.post .entry blockquote {
	background: url(charcoal-yellow/ico-blockquote-trans.png) top left no-repeat;
}

/* Blog Entry Styles - Images */

.wp-caption {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
}

/* Portfolio */

.portfolio_details h2 a {
	color: #ffcc00;
}

.portfolio_item h2 a:hover, .portfolio_details h2 a:hover {
	color: #b3bbc2;
}

.portfolio_thumb {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
}

#detail_links {
	border-left: 1px solid #626665;
}

/* Comments */

.commentlist .comment {
	background: url(charcoal-yellow/bg_transparent2-trans.png) top left repeat;
	border-bottom: 1px solid #283024;
}

.commentlist .depth-1 {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
	border-bottom: 1px solid #283024;
}

.commentlist .comment-author a {
	color: #fff;
}

.commentlist .avatar {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
}

.commentlist .comment-meta, .commentlist .comment-meta a {
	color: #a5a5a5;
	text-decoration: none;
}

.commentlist .comment-meta a:hover {
	color: #fff;
}

#respond h3 {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
	color: #fff;
}

#commentform p {
	color: #a5a5a5;
}

#commentform #author, #commentform #email, #commentform #url, #commentform #comment, #commentform #submit {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
	color: #fff;
}

#commentform label {
	color: #a5a5a5;
}

/* Personal - About & Social Profiles */

#social .entry ul li {
	border-bottom: 1px solid #626665;
}

#social .entry ul li a {
	color: #fff;
}

#social .entry ul li a:hover {
	color: #ffcc00;
}

/* Ads */

#advert_125x125 {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
}

/* Sidebar */

.widget h2 {
	background: url(charcoal-yellow/bg_sidebarh2-trans.png) top center no-repeat;
	color: #2a2a2a;
}

.widget ul li a {
	background: url(charcoal-yellow/bg_sidebaricon-trans.png) top left no-repeat;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
}

.widget ul li a:hover {
	background: url(charcoal-yellow/bg_sidebaricon_hover-trans.png) top left no-repeat;
}

/* Specific Widgets */

#social_widget ul li a:hover {
	color: #ffcc00;
}

#twitter_widget ul li {
	background: url(charcoal-yellow/bg_sidebaricon-trans.png) top left no-repeat;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
}

#twitter_widget ul li a {
	background: none !important;
	color: #626665;
}

#twitter_widget ul li span a {
	color: #ffcc00 !important;
	text-decoration: underline !important;
}

#twitter_widget ul li span a:hover {
	text-decoration: none !important;
}

#twitter_update_list {
	border-bottom: 1px solid #626665;
	margin: 0 0 15px 0;
}

#twitter_widget .twitter_icon a {
	color: #fff;
}

#tagcloud_widget a {
	color: #fff;	
	text-decoration: none;
}

#tagcloud_widget a:hover {
	color: #626665;
}

#search_widget {
	background: url(charcoal-yellow/bg_sidebarh2-trans.png) top center no-repeat;
}

#search_widget .field {
	background: url(charcoal-yellow/bg_transparent-trans.png) top left repeat;
	color: #2a2a2a;
}

#search_widget .search_btn {
	color: #2a2a2a;
}

/* Footer */

#footer {
	background: #d5ac08;
	color: #554b22;
}

#footer a {
	color: #554b22;
	text-decoration: none;
}

#footer a:hover {
	color: #fff;
}

