/* COLOURS

#7f97a1 - Light
#63777f - Dark

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

/* @group nav */

/* NAV
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#header #nav li a:link, #header #nav li a:visited, #header #nav li a:active {
	color: #1b1b19;
	background: #7f97a1 url("../../styles/dirty-dark/images/blue/nav.gif") repeat 50% 0;
}

#header #nav li a:hover {
	background: #63777f url("../../styles/dirty-dark/images/blue/nav.gif") repeat 50% 50%;
}

#header-alt #nav li.current_page_item a:link, #header-alt #nav li.current_page_item a:visited, #header-alt #nav li.current_page_item a:active, #header-alt #nav li.current_page_item a:hover {
	background: url("../../styles/dirty-dark/images/blue/category-bg.jpg") no-repeat 50% 50%;
}

#header-alt #photos h2 {
	color: #63777f;
}

#header #status strong {
	color: #63777f;
}

/* @end */

/* @group content */

/* CONTENT
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.content h2 {
	color: #7f97a1;
}

.content h2 a:link, .content h2 a:visited, .content h2 a:active {
	color: #7f97a1;
}

.content h2 a:hover {
	color: #fbf7e4;
}

.content h2.heading {
	color: #1b1b19;
	background: url("../../styles/dirty-dark/images/blue/heading-bg.jpg") no-repeat 0 0;
}

.content h3 a:link, .content h3 a:visited, .content h3 a:active {
	color: #63777f;
}

.content #comments h2.heading, .content #comment-form h2.heading {
	background: url("../../styles/dirty-dark/images/blue/heading-comments-bg.jpg") no-repeat 0 0;
}

/* @end */

/* @group sidebars */

/* SIDEBARS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#categories li.current_page_item-cat {
	color: #e1f3fa;
	background: url("../../styles/dirty-dark/images/blue/category-bg.jpg") no-repeat 0 0;
}

#leftbar .widget h2 {
	color: #1b1b19;
	background: url("../../styles/dirty-dark/images/blue/heading-leftbar-bg.jpg") no-repeat 0 0;
}

#sidebar .widget h2, #header .widget h2 {
	color: #1b1b19;
	background: url("../../styles/dirty-dark/images/blue/heading-sidebar-bg.jpg") no-repeat 0 0;
}

#media-widget.widget h2.selected, #media-widget.widget h2.selected:hover {
	color: #1b1b19;
}

#media-widget.widget h2 {
	color: #e1f3fa;
}

/* @end */