/* lightblue style */

body { background: url(lightblue/bg-tile.jpg) repeat top center; }
#wrap {	background: url(lightblue/bg.jpg) repeat-x top center; }
a { color: #7099bc; }
#archive .box2 .post-details, #main p.post-details, #comments ol.commentlist .comment-meta a {color:#7c8994;}
#bottom .subscribe .rss { background: url(lightblue/ico-subscribe.png) no-repeat center left; }
#bottom #recentcomments li { background:transparent url(lightblue/ico-comment.png) no-repeat scroll left center; }
