/* purple style */

body { background: url(purple/bg-tile.jpg) repeat top center; }
#wrap {	background: url(purple/bg.jpg) repeat-x top center; }
a { color: #c06ec5; }
#archive .box2 .post-details, #main p.post-details, #comments ol.commentlist .comment-meta a {color:#91698d;}
#bottom .subscribe .rss { background: url(purple/ico-subscribe.png) no-repeat center left; }
#bottom #recentcomments li { background:transparent url(purple/ico-comment.png) no-repeat scroll left center; }
