/* red style - use style.css */

body { background: url(red/bg-tile.jpg) repeat top center; }
#wrap {	background: url(red/bg.jpg) repeat-x top center; }
a { color: #bc7070; }
#archive .box2 .post-details, #main p.post-details, #comments ol.commentlist .comment-meta a {color:#967676;}
#bottom .subscribe .rss { background: url(red/ico-subscribe.png) no-repeat center left; }
#bottom #recentcomments li { background:transparent url(red/ico-comment.png) no-repeat scroll left center; }
