#categories-back {
background:transparent url(default/categories-back.gif) repeat-x scroll left center;
}

#content-back {
background:transparent url(default/content-back.gif) no-repeat scroll left top;
}

#left-top {
background:transparent url(default/left-top.gif) no-repeat scroll center top;
}