#categories-back {
background:transparent url(red-print/categories-back.gif) repeat-x scroll left center;
}

#content-back {
background:transparent url(red-print/content-back.gif) no-repeat scroll left top;
}

#left-top {
background:transparent url(red-print/left-top.gif) no-repeat scroll center top;
}