body  {
	background: #c8cdd0 url(aqua/bg.jpg) repeat-x top left;
}

h1, h2, h3, h4, h5, h6  {
	color: #000;
}

a:link, a:visited  {
	color: #d1283b;
}

/* STRUCTURE */

#wrap {

}

#header  {
	background: #fff url(aqua/header.jpg) repeat-x top left;
	border-bottom: 7px solid #eef1cb;
}

#header h1.title a  {
	color: #000;
}

#header p.description  {
	color: #d1283b;
}

#rss  {
	background-color: #336966;
}

#rss a  {
	color: #fff;
}

#featured  {
	background: #63a7a3 url(aqua/featuredbg.jpg) repeat-x top left;
}

#featured .buttons a.prev  {
	background: url(aqua/prev.jpg) no-repeat top left;
}

#featured .buttons a.next  {
	background: url(aqua/next.jpg) no-repeat top left;
}

#steps  {
	background: #4093ce url(aqua/stepsbg.jpg) repeat-x top left;
}

#steps ul li a  {
	color: #fff;
}

#content  {
	border-top: 7px solid #eef1cb;
	border-bottom: 7px solid #eef1cb ;
	background-color: #fff;
}

#content .moreinfo  {
	border: 1px solid #554151;
	background-color: #fbf0c8;
	color: #554151;
}

#content .moreinfo h3  {
	color: #554151;	
}

#content .moreinfo .more a  {
	color: #d1283b;
	background: url(aqua/moreinfo.jpg) no-repeat center left;
}

#news  {
	color: #75818a;
}

#news h3  {
	color: #554151;
}

#news ul li a  {
	color: #d1283b;
}

#news p.more a  {
	color: #75818a;
}

#bottom  {
	background: #63a7a3 url(aqua/bottombg.jpg) repeat-x top left;
}

#newsletter input.text  {
	background-color: #c1dcda ;
}

#footer  {
	background: #9fc9e6 url(aqua/footerbg.jpg) repeat-x top left;
	color: #fff;
}

#footer p a  {
	color: #fff;
}

/* NAVIGATION */

#nav ul li a:link, #nav ul li a:visited  {
	color: #000;
}

/* BLOG CSS */

.post .categories  {
	background-color: #d1283b;
	color: #fff;
}

.post .categories a  {
	color: #fff;
}

.post h2.title .date a  {
	color: #f196a0;
}

.post h2.title a  {
	color: #000;
}

.post p.comments a  {
	background: url(aqua/comments.jpg) no-repeat center left;
	color: #000;
}

p.continue a  {
	color: #d1283b;
}

#postad  {
	background-color: #fae9eb;
}

a.adlink  {
	color: #000;
}
.asidespost  {
	border-left: 3px solid #d1283b;
}

#sidebar img.bigad  {
	border: 2px solid #d1283b;
}

#tabbox  {
	border: 1px solid #63a7a3;
}

#tabbox ul.idTabs  {
	background: #dae6da;
}

#tabbox ul.idTabs li a:link, #tabbox ul.idTabs li a:visited  {
	color: #000;
}

#tabbox ul.idTabs li a.selected  {
	color: #fff;
	background: #8bc62d url(aqua/selectedtab.jpg) repeat center center;
}

#boxes ul  {
	background: #fcf8ea;
}

#boxes ul li {
	background: url(aqua/tablibg.jpg) no-repeat top left;
}

#boxes ul li:first-child  {
	background: none;
}

#boxes ul li a:link, #boxes ul li a:visited   {
	color: #000;
}

#leftwidget  {
	border-right: 1px solid #dedede;
}

.widgetlist  h3  {
	background: url(aqua/widgethead.jpg) no-repeat center left;
	color: #fff;
}

.widgetlist ul li  {
	border-bottom: 1px solid #f0f0f0;
}

.widgetlist ul li a:link, .widgetlist ul li a:visited  {
	color: #000;
}
.commentlist {
	border-top: 2px solid #ECF1AC;
}
.commentlist li {
	border-bottom: 2px solid #ECF1AC;
}
.commentlist .alt {
	background: #EEF1CB;
}
#commentform input {
	background: #EEF1CB;
	border: 1px solid #ECF1AC;
}
#commentform textarea {
	background: #EEF1CB;
	border: 1px solid #ECF1AC;
}