body  {
	background: #c8cdd0 url(forest/bg.jpg) repeat-x top left;
}

h1, h2, h3, h4, h5, h6  {
	color: #000;
}

a:link, a:visited  {
	color: #93c6b5;
}

/* STRUCTURE */

#wrap {

}

#header  {
	background: #fff url(forest/header.jpg) repeat-x top left;
	border-bottom: 7px solid #deede8;
}

#header h1.title a  {
	color: #000;
}

#header p.description  {
	color: #150d0a;
}

#rss  {
	background-color: #322936;
}

#rss a  {
	color: #fff;
}

#featured  {
	background: #93c6b5 url(forest/featuredbg.jpg) repeat-x top left;
}

#featured .buttons a.prev  {
	background: url(forest/prev.jpg) no-repeat top left;
}

#featured .buttons a.next  {
	background: url(forest/next.jpg) no-repeat top left;
}

#steps  {
	background: #4093ce url(forest/stepsbg.jpg) repeat-x top left;
}

#steps ul li a  {
	color: #fff;
}

#content  {
	border-top: 7px solid #deede8;
	border-bottom: 7px solid #deede8;
	background-color: #fff;
}

#content .moreinfo  {
	border: 1px solid #edf1c8;
	background-color: #f7f9e5;
	color: #322936;
}

#content .moreinfo h3  {
	color: #322936;	
}

#content .moreinfo .more a  {
	color: #322936;
	background: url(forest/moreinfo.jpg) no-repeat center left;
}

#news  {
	color: #75818a;
}

#news h3  {
	color: #322936;
}

#news ul li a  {
	color: #322936;
}

#news p.more a  {
	color: #75818a;
}

#bottom  {
	background: #93c6b5 url(forest/bottombg.jpg) repeat-x top left;
}

#newsletter input.text  {
	background-color: #d4e8e1;
}

#footer  {
	background: #9fc9e6 url(forest/footerbg.jpg) repeat-x top left;
	color: #fff;
}

#footer p a  {
	color: #fff;
}

/* NAVIGATION */

#nav ul li a:link, #nav ul li a:visited  {
	color: #000;
}

/* BLOG CSS */

.post .categories  {
	background-color: #665e55;
	color: #fff;
}

.post .categories a  {
	color: #fff;
}

.post h2.title .date a  {
	color: #93c6b5;
}

.post h2.title a  {
	color: #000;
}

.post p.comments a  {
	background: url(forest/comments.jpg) no-repeat center left;
	color: #000;
}

p.continue a  {
	color: #93c6b5;
}

#postad  {
	background-color: #f4f9f7;
}

a.adlink  {
	color: #000;
}
.asidespost  {
	border-left: 3px solid #665e55;
}

#sidebar img.bigad  {
	border: 2px solid #150d0a;
}

#tabbox  {
	border: 1px solid #93c6b5;
}

#tabbox ul.idTabs  {
	background: #c9cbcd;
}

#tabbox ul.idTabs li a:link, #tabbox ul.idTabs li a:visited  {
	color: #000;
}

#tabbox ul.idTabs li a.selected  {
	color: #fff;
	background: #8bc62d url(forest/selectedtab.jpg) repeat center center;
}

#boxes ul  {
	background: #f4f9f7;
}

#boxes ul li {
	background: url(forest/tablibg.jpg) no-repeat top left;
}

#boxes ul li:first-child  {
	background: none;
}

#boxes ul li a:link, #boxes ul li a:visited   {
	color: #000;
}

#leftwidget  {
	border-right: 1px solid #dedede;
}

.widgetlist  h3  {
	background: url(forest/widgethead.jpg) no-repeat center left;
	color: #fff;
}

.widgetlist ul li  {
	border-bottom: 1px solid #f0f0f0;
}

.widgetlist ul li a:link, .widgetlist ul li a:visited  {
	color: #000;
}
.commentlist {
	border-top: 2px solid #C1D8D1;
}
.commentlist li {
	border-bottom: 2px solid #C1D8D1;
}
.commentlist .alt {
	background: #DEEDE8;
}
#commentform input {
	background: #DEEDE8;
	border: 1px solid #C1D8D1;
}
#commentform textarea {
	background: #DEEDE8;
	border: 1px solid #C1D8D1;
}