body  {
	background: #c8cdd0 url(orange/bg.jpg) repeat-x top left;
}

h1, h2, h3, h4, h5, h6  {
	color: #000;
}

a:link, a:visited  {
	color: #f04a1d;
}

/* STRUCTURE */

#wrap {

}

#header  {
	background: #fff url(orange/header.jpg) repeat-x top left;
	border-bottom: 7px solid #fce4b3;
}

#header h1.title a  {
	color: #000;
}

#header p.description  {
	color: #f04a1d;
}

#rss  {
	background-color: #f04a1d;
}

#rss a  {
	color: #fff;
}

#featured  {
	background: #f5a909 url(orange/featuredbg.jpg) repeat-x top left;
}

#featured .buttons a.prev  {
	background: url(orange/prev.jpg) no-repeat top left;
}

#featured .buttons a.next  {
	background: url(orange/next.jpg) no-repeat top left;
}

#steps  {
	background: #4093ce url(orange/stepsbg.jpg) repeat-x top left;
}

#steps ul li a  {
	color: #fff;
}

#content  {
	border-top: 7px solid #fce4b3;
	border-bottom: 7px solid #fce4b3;
	background-color: #fff;
}

#content .moreinfo  {
	border: 1px solid #d8ebd8;
	background-color: #fbfbfb;
	color: #000;
}

#content .moreinfo h3  {
	color: #000;	
}

#content .moreinfo .more a  {
	color: #f04a1d;
	background: url(orange/moreinfo.jpg) no-repeat center left;
}

#news  {
	color: #75818a;
}

#news h3  {
	color: #000;
}

#news ul li a  {
	color: #f04a1d;
}

#news p.more a  {
	color: #75818a;
}

#bottom  {
	background: #f5a909 url(orange/bottombg.jpg) repeat-x top left;
}

#newsletter input.text  {
	background-color: #ffeac1;
}

#footer  {
	background: #9fc9e6 url(orange/footerbg.jpg) repeat-x top left;
	color: #fff;
}

#footer p a  {
	color: #fff;
}

/* NAVIGATION */

#nav ul li a:link, #nav ul li a:visited  {
	color: #000;
}

/* BLOG CSS */

.post .categories  {
	background-color: #f04a1d;
	color: #fff;
}

.post .categories a  {
	color: #fff;
}

.post h2.title .date a  {
	color: #f5a909;
}

.post h2.title a  {
	color: #000;
}

.post p.comments a  {
	background: url(orange/comments.jpg) no-repeat center left;
	color: #000;
}

p.continue a  {
	color: #f04a1d;
}

#postad  {
	background-color: #fdede8;
}

a.adlink  {
	color: #000;
}
.asidespost  {
	border-left: 3px solid #f04a1d;
}

#sidebar img.bigad  {
	border: 2px solid #f28213;
}

#tabbox  {
	border: 1px solid #f28213;
}

#tabbox ul.idTabs  {
	background: #f1d9c0;
}

#tabbox ul.idTabs li a:link, #tabbox ul.idTabs li a:visited  {
	color: #000;
}

#tabbox ul.idTabs li a.selected  {
	color: #fff;
	background: #8bc62d url(orange/selectedtab.jpg) repeat center center;
}

#boxes ul  {
	background: #f1f1f1 !important;
}

#boxes ul li {
	background: url(orange/tablibg.jpg) no-repeat top left;
}

#boxes ul li:first-child  {
	background: none;
}

#boxes ul li a:link, #boxes ul li a:visited   {
	color: #000;
}

#leftwidget  {
	border-right: 1px solid #dedede;
}

.widgetlist  h3  {
	background: url(orange/widgethead.jpg) no-repeat center left;
	color: #fff;
}

.widgetlist ul li  {
	border-bottom: 1px solid #f0f0f0;
}

.widgetlist ul li a:link, .widgetlist ul li a:visited  {
	color: #000;
}
.commentlist {
	border-top: 2px solid #E8CA8B;
}
.commentlist li {
	border-bottom: 2px solid #E8CA8B;
}
.commentlist .alt {
	background: #FCE4B3;
}
#commentform input {
	background: #FCE4B3;
	border: 1px solid #E8CA8B;
}
#commentform textarea {
	background: #FCE4B3;
	border: 1px solid #E8CA8B;
}